.content {
  width: 80%;
  margin: 2% auto;
  table {
    width: 100%;
    tr.mat-row {
      height: 5vh;
    }
  }
}

.title {
  width: 80%;
  margin: 1% auto;
}

.align-center {
  text-align: center;
}
